.tileimage {
  display: flex;
  justify-content: center;
  background-color: #3d4346;
  min-height: 12em;
  min-width: 8em;
  margin: 0.5em;
  border: 1px solid #32373a;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  padding: 0 1em 0 1em;
}

.tileimage:hover,
.tileimage:focus,
.tileimage:active {
  color: #0070f3;
  border-color: #0070f3;
}

.text {
  flex: 10 10 auto;
  position: relative;
  text-align: center;
}

.textcen {
  flex: 10 10 auto;
  position: relative;
  text-align: center;
}
